html{
    background-color: purple;
    color: white;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 100px;
    background-image: url('https://github.com/matthewwolfii/websitestuff/raw/master/putting/showscores.png');

}
