html{
    background-color: purple;
    color: white;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}

div{
    align-content: center;
    height: 95;
    width: 95;
}
