/* aboutme-style.css*/
/* Change the color of at least two elements---

Change the font properties of at least two elements (such as family, size, weight, style). 
Here are some standard fonts you may want to use: Arial, Arial Black, Verdana, Trebuchet MS, 
Georgia, Tahoma, Courier New, Times New Roman

Change at least one other thing of your choosing (such as background color, text alignment, 
etc.)*/

body {
    margin: 0;
    padding: 0;
    background: url(https://github.com/matthewwolfii/websitestuff/raw/master/html/background.png);
    background-size: cover;
    
}
h1 {
    color: white;
}
h2 {
    color: white;
}
p {
    color: white;
}
ul {
    color: silver;
}
ol {
    color: silver;
}

.aboutname{
    font-family: "URW Chancery L", cursive;
    font-size: 40px;
}

.homename{
    position: relative;
    text-align: center;
    width: 400px;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: Courier;
}

.middle{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-bottom: 5%;
}

.textinfo{
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}

.btn{
    position: relative;
    display: inline-block;
    color: #9932CC;
    text-align: center;
    font-size: 30px;
    font-family: "URW Chancery L", cursive;
    text-decoration: none;
    width: auto;
    height: 40px;
    margin: 20px 10px;
    border: 2px solid yellow;
    padding: 5px 30px;
    overflow: hidden;
    transition: 1s all ease;
}

.btn:before{
    background: url(https://github.com/matthewwolfii/websitestuff/raw/master/html/backgroundimage.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.home:before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(45deg);
}

.home:hover:before{
    height: 400%;
}

.about:before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.about:hover:before{
    height: 400%;
}

.graphics:before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(45deg);
}

.graphics:hover:before{
    height: 400%;
}

.resume:before{
    width: 100%;
    height: 0;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.resume:hover:before{
    height: 400%;
}

.pic {
    position: relative;
    display: block;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
    width: 10%;
    height: auto;
    padding: 10px 10px;
}

.Resume{
    position: relative;
    display: block;
    border: 2px solid blue;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    width: auto;
    height: auto;
}

.Graphic{
    position: relative;
    display: block;
    border: 2px solid white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;
    width: 10%;
    height: 10%;
}
