/* aboutme-style.css*/
/* Change the color of at least two elements---

Change the font properties of at least two elements (such as family, size, weight, style). 
Here are some standard fonts you may want to use: Arial, Arial Black, Verdana, Trebuchet MS, 
Georgia, Tahoma, Courier New, Times New Roman

Change at least one other thing of your choosing (such as background color, text alignment, 
etc.)*/

body {
    background-color: red;
}
h1 {
    color: white;
    font-family: Arial monospace;
}
h2 {
    color: white;
    font-family: Verdana Georgia;
}
p {
    font-family: Tahoma Courier;
    color: white;
}
ul {
    color: silver;
}
ol {
    color: silver;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid white;
    padding: 14px 50px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}

.btn::before{
    background: solid white;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
}

.btnhome::before{
    width: 0;
    height: 100%;
}

.btn:hover::before{
    width: 100%;
}